{{- if ne .chezmoi.os "linux" }}
.config/environment.d
.gnupg
.config/iterm2
{{- else if ne .chezmoi.os "darwin" }}
{{- end }}
{{- if ne .email "pieter.mulder@wooga.net" }}
# Files to ignore if not working on Company account.
{{- end }}
