{{- $user := promptStringOnce . "user" "Local Username" -}}
{{- $email := promptStringOnce . "email" "Email address" -}}
[data]
    email = "{{ $email }}"
    user = "{{ $user }}"
[edit]
    command = "vim"
[diff]
    exclude = ["scripts", "externals"]
