{{- if ne .chezmoi.os "linux" }}
# Ignore if not on Linux
.config/environment.d
.gnupg
.local/share/zsh/site-functions/_chezmoi
.local/share/bash-completion/chezmoi
{{- else if ne .chezmoi.os "darwin" }}
# Ignore if not on MacOS
.config/kitty
Library/
{{- end }}
{{- if ne .email "pieter.mulder@wooga.net" }}
# Files to ignore if not working on Company account.
{{- end }}
