bindkey -e
bindkey '^p' history-search-backward
bindkey '^n' history-search-forward

HISTFILE=~/.histfile
HISTSIZE=10000
SAVEHIST=$HISTSIZE
HISTDUP=erase
setopt appendhistory sharehistory
setopt hist_ignore_space hist_ignore_all_dups hist_save_no_dups hist_ignore_dups hist_find_no_dups
setopt autocd beep extendedglob nomatch notify

zstyle ':completion:*' matcher-list 'm:{a-z}={A-Za-z}'
zstyle ':completion:*' list-colors ${(s.:.)LS_COLORS}
zstyle ':completion:*' menu no
zstyle ':fzf-tab:complete:cd:*' fzf-preview 'ls --color $realpath'

export EDITOR={{ .chezmoi.config.edit.command }}

zstyle :compinstall filename '{{ .chezmoi.homeDir }}/.zshrc'

if [ "$TERM_PROGRAM" != "Apple_Terminal" ]; then
  eval "$(oh-my-posh init zsh --config {{ .chezmoi.homeDir }}/.config/ohmyposh/basic.toml)"
fi

{{- if eq .chezmoi.os "darwin" }}
test -e "${HOME}/.iterm2_shell_integration.zsh" && source "${HOME}/.iterm2_shell_integration.zsh"
{{- range glob ".iterm2/*" }}
alias {{ . | base }}=${HOME}/{{ . }}
{{- end }}
{{- end }}
{{- if eq .email "pieter.mulder@wooga.net" }}
source ${HOMEBREW_PREFIX}/opt/chruby/share/chruby/chruby.sh
source ${HOMEBREW_PREFIX}/opt/chruby/share/chruby/auto.sh
export GOPATH="${HOME}/go"
{{- end }}

source ${ZIM_HOME}/init.zsh

source ${ZIM_HOME}/modules/zsh-defer/zsh-defer.plugin.zsh

# User specific aliases and functions
if [ -d {{ .chezmoi.homeDir }}/.zshrc.d ]; then
  for rc in {{ .chezmoi.homeDir }}/.zshrc.d/*; do
    if [ -f "$rc" ]; then
      . "$rc"
    fi
  done
  unset rc
fi


{{- if eq .email "pieter.mulder@wooga.net" }}
# Playtika Certificates

# Node.js SSL Certificate Configuration
export NODE_EXTRA_CA_CERTS='/Library/Certs/Cacert.pem'

# SSL Certificate Configuration for Python
export CURL_CA_BUNDLE='/Library/Certs/Cacert.pem'
export REQUESTS_CA_BUNDLE='/Library/Certs/Cacert.pem'
export SSL_CERT_FILE='/Library/Certs/Cacert.pem'

# YARN SSL Certificate Configuration
export YARN_CA_FILE='/Library/Certs/Cacert.pem'

# Elixir/Hex SSL Certificate Configuration
export HEX_CACERTS_PATH='/Library/Certs/Cacert.pem'

# Flutter/Dart SSL Certificate Configuration
export DART_VM_OPTIONS='--root-certs-file=/Library/Certs/Cacert.pem'
{{- end }}
