{{- if eq .chezmoi.os "darwin" }}
# Set path here again, as `etc/zprofile` on macOS rewrites the order.
export -TU PATH path
path=(${ASDF_DATA_DIR}/shims ${HOMEBREW_PREFIX}/bin ${HOMEBREW_PREFIX}/sbin $path)
path=($HOME/.local/bin $HOME/bin $path)
{{- end }}
