# .bashrc

# Source global definitions
if [ -f /etc/bashrc ]; then
	. /etc/bashrc
fi

# User specific environment
if ! [[ "$PATH" =~ "$HOME/.local/bin:$HOME/bin:" ]]
then
    PATH="$HOME/.local/bin:$HOME/bin:$PATH"
fi
export PATH

# Uncomment the following line if you don't like systemctl's auto-paging feature:
# export SYSTEMD_PAGER=

# User specific aliases and functions

{{- if eq .chezmoi.os "linux" }}
# default to vim
export EDITOR=/usr/bin/vim
{{- end }}

# autocomplete chezmoi
export COMPLETE_DIR="$HOME/.local/share/bash-completion"
[ -s "$COMPLETE_DIR/chezmoi" ] && \. "$COMPLETE_DIR/chezmoi"
