export -TU FPATH fpath
{{- if eq .chezmoi.os "darwin" }}
fpath=(/opt/homebrew/share/zsh/site-functions $fpath)
{{- else }}
fpath=($HOME/.local/share/zsh/site-functions $fpath)
{{- end }}

export -TU PATH path
path=($HOME/.local/bin $HOME/bin $path)

{{- if eq .chezmoi.os "linux" }}
SSH_AUTH_SOCK=${XDG_RUNTIME_DIR}/gnupg/S.gpg-agent.ssh
{{- end }}
