export -TU FPATH fpath
{{- if eq .chezmoi.os "darwin" }}
HOMEBREW_PREFIX="/opt/homebrew"
fpath=(${HOMEBREW_PREFIX}/share/zsh/site-functions $fpath)
{{- else }}
fpath=($HOME/.local/share/zsh/site-functions $fpath)
{{- end }}

export -TU PATH path
{{- if eq .chezmoi.os "darwin" }}
path=(${HOMEBREW_PREFIX}/bin ${HOMEBREW_PREFIX}/sbin $path)
{{- end }}
path=($HOME/.local/bin $HOME/bin $path)

{{- if eq .chezmoi.os "darwin" }}
# Homebrew settings
HOMEBREW_CELLAR="${HOMEBREW_PREFIX}/Cellar"
HOMEBREW_REPOSITORY="${HOMEBREW_PREFIX}"
INFOPATH="${HOMEBREW_PREFIX}/share/info:${INFOPATH:-}";
{{- else }}
SSH_AUTH_SOCK=${XDG_RUNTIME_DIR}/gnupg/S.gpg-agent.ssh
{{- end }}
ZIM_HOME=$HOME/.local/share/zim
