HISTFILE=~/.histfile
HISTSIZE=10000
SAVEHIST=10000
setopt autocd beep extendedglob nomatch notify
bindkey -e
{{- if eq .chezmoi.os "linux" }}
export EDITOR=/usr/bin/vim
{{- end }}

zstyle :compinstall filename '{{ .chezmoi.homeDir }}/.zshrc'

if ! [[ "$FPATH" =~ "$HOME/.local/share/zsh/site-functions:" ]]
then
    FPATH="$HOME/.local/share/zsh/site-functions:$FPATH"
fi
export FPATH

autoload -Uz compinit; compinit

if ! [[ "$PATH" =~ "$HOME/.local/bin:$HOME/bin:" ]]
then
    PATH="$HOME/.local/bin:$HOME/bin:$PATH"
fi
export PATH

{{- if eq .email "pieter.mulder@wooga.net" }}
. $(brew --prefix asdf)/asdf.sh
export GOPATH="${HOME}/go"
{{ (index (lastpassRaw "DS Environment Variables") 0).note }}
export PATH="/usr/local/opt/gnu-getopt/bin:$PATH"
{{- end }}
