HISTFILE=~/.histfile
HISTSIZE=10000
SAVEHIST=10000
setopt autocd beep extendedglob nomatch notify
bindkey -e
export EDITOR={{ .chezmoi.config.edit.command }}

zstyle :compinstall filename '{{ .chezmoi.homeDir }}/.zshrc'

autoload -Uz compinit; compinit
autoload -Uz promptinit; promptinit

{{- if eq .email "pieter.mulder@wooga.net" }}
FPATH="$(brew --prefix)/share/zsh/site-functions:${FPATH}"
. $(brew --prefix asdf)/libexec/asdf.sh
export GOPATH="${HOME}/go"
export PATH="/usr/local/opt/gnu-getopt/bin:/opt/homebrew/opt/make/libexec/gnubin:$PATH"

test -e "${HOME}/.iterm2_shell_integration.zsh" && source "${HOME}/.iterm2_shell_integration.zsh"

{{- end }}

{{- if eq .chezmoi.os "linux" }}
_share=/usr/share
{{- else if eq .chezmoi.os "darwin" }}
_share=$(brew --prefix)/share
{{- end }}
if [ -f ${_share}/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh ]; then
    source ${_share}/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
fi
unset _share

# User specific aliases and functions
if [ -d {{ .chezmoi.homeDir }}/.zshrc.d ]; then
  for rc in {{ .chezmoi.homeDir }}/.zshrc.d/*; do
    if [ -f "$rc" ]; then
      . "$rc"
    fi
  done
  unset rc
fi

autoload -Uz compinit; compinit
