#!/bin/sh
{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.variantID "silverblue") -}}

rpm-ostree install --apply-live --idempotent vim zsh gopass zsh-syntax-highlighting
{{ end -}}
{{ if eq .chezmoi.os "darwin" }}

brew bundle --file=/dev/stdin <<EOF
brew "vim"
cask "iterm2"
brew "git"
brew "zsh-syntax-highlighting"
EOF
{{ end -}}
