#!/bin/sh
{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.variantID "silverblue") -}}

rpm-ostree install --idempotent vim zsh gopass gopass-jsonapi zsh-syntax-highlighting
{{ end -}}
{{ if eq .chezmoi.os "darwin" }}

brew bundle --no-lock --file=/dev/stdin <<EOF
brew "git"
brew "zsh-syntax-highlighting"
EOF
{{ end -}}
