#!/bin/sh
{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.variantID "silverblue") -}}

rpm-ostree install --apply-live --idempotent vim zsh git gopass gopass-jsonapi fzf ripgrep direnv
curl -s https://ohmyposh.dev/install.sh | bash -s
{{ end -}}
{{ if eq .chezmoi.os "darwin" }}

brew bundle --file=/dev/stdin <<EOF
brew "vim"
cask "iterm2"
brew "git"
brew "fzf"
brew "ripgrep"
brew "oh-my-posh"
brew "direnv"
EOF
{{ end -}}
