{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.variantID "silverblue") -}}
#!/bin/sh

# Fail if zsh isn't installed
ZSH=$(which zsh 2>/dev/null || /bin/true)
if [ ! -e "$ZSH" ]
then
	echo "zsh isn't installed, install or reboot. And rerun chezmoi."
	exit 0
fi

# Current shell
CURRENT_SHELL=$(grep {{ .user }} /etc/passwd | awk -F: '{ print $NF }')
if [ "$CURRENT_SHELL" = "$ZSH" ]
then
	exit 0
fi

sudo usermod {{ .user }} -s $ZSH
{{- end }}
