{{- if eq .email "pieter.mulder@wooga.net }}
{{- /* Associated with the id_rsa file, for work porpuse. */}}
{{ (index (lastpass "SSH") 0).note.publicKey }}
{{- else }}
{{- /* Associated with the yubikey. */}}
ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCpwZsOd9OfdnN29Cnvp8ko9ksDkNaA78ZtfLIAw0W9slhE+l0M6o6ddgd5RE0La9YEIawxz1cCfR8LKzx//c1luybPBdxr+/812suaMW2y4JvrAjFAGBdsozaJ+AcZ5s0neYaKCMbWSX8+0VEtgYvhEZuEfe4LWAkFPD4wzbNACELGUB873fLPPCWjS1Qu85CdH3r9PiZRqhqugLXYMuAHDUH60WiXdGGeMn6+eoewOMt/UpE10LC80kf6dAMRJfv+gmHOYrVnqKcv0mv9x0h7GC6fy0BJJ3BXoLEDA73P/Rox3y0/P0IxBzR0rVzciffqD5mzEVEdtlylMQi92jSB cardno:000603023949
{{- end }}
